<%= form_for (todolist) do |f| %>
  <% if todolist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todolist.errors.count, "error") %> prohibited this todolist from being saved:</h2>

      <ul>
      <% todolist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="dropdown">

  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Todolist
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Grocery Shop</a></li>
    <li><a href="#">Butcher</a></li>
    <li><a href="#">Pick Lachlan up</a></li>
  </ul>

  </div>

  <div class="field">
    <%= f.label :when %>
    <%= f.text_field :when %>
  </div>

  <div class="field">
    <%= f.label :what %>
    <%= f.text_field :what %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
