<%= form_for(daleytask) do |f| %>
  <% if daleytask.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daleytask.errors.count, "error") %> prohibited this daleytask from being saved:</h2>

      <ul>
      <% daleytask.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="dropdown">
    
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Name
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Joel</a></li>
    <li><a href="#">Sophie</a></li>
    <li><a href="#">Lachlan</a></li>
  </ul>

  </div>

  <div class="field">
    <%= f.label :when %>
    <%= f.text_field :when %>
  </div>

  <div class="field">
    <%= f.label :what %>
    <%= f.text_field :what %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
